<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.unidemy" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/unidemy_logo_icon_final"
        android:label="Unidemy"
        android:roundIcon="@drawable/unidemy_logo_icon_final"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unidemy"
        tools:ignore="ExtraText">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />
        <activity
            android:name="activities.ForgotPassword"
            android:exported="false"
            android:label="Recuperar Contraseña"/>

        <activity
            android:name="activities.Register"
            android:exported="false"
            android:label="Registro" />
        <activity
            android:name="activities.FirstLogin"
            android:exported="false"
            android:label="¡Bienvenid@!" />
        <activity
            android:name="activities.RecyclerViewActivity"
            android:exported="true"
            >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>


        <activity
            android:name="activities.ViewCourse"
            android:exported="false"
            android:label="Curso" />


        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="activities.ViewVideo"
            android:exported="false"
            android:label=""
            android:screenOrientation="landscape"/>

        <activity
            android:name="activities.Login"
            android:exported="true"
            android:label="Unidemy" />

        <activity android:name="activities.Searcher"
            android:label="Buscador"
            android:exported="false"/>
        <activity android:name="activities.MyCourses"
            android:label="Mis Cursos"
            android:exported="false"/>
        <activity android:name=".adapters.MainActivity"
            android:exported="false"/>
        <activity android:name="activities.MenuLateral" />
        <activity android:name="activities.UserInfoActivity" />
        <activity android:name="activities.Privacity" />
        <activity android:name="activities.RecyclerViewComents" />
        <activity android:name="activities.ViewDocument" />
        <activity android:name="activities.ActivityAddComent" />
        <activity android:name="activities.ActivityHelp" />
        <activity android:name="activities.StartTestUniversidad" />
        <activity android:name="activities.StartTestFacultad" />
        <activity android:name="activities.StartTestGrado" />
        <activity android:name="activities.ViewTest" />



    </application>


</manifest>