<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unidemy" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/unidemy_logo_icon_v2"
        android:label="Unidemy"
        android:roundIcon="@drawable/unidemy_logo_icon_v2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unidemy" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />
        <activity
            android:name=".ui.ForgotPassword"
            android:exported="false"
            android:label="Recuperar Contraseña"/>

        <activity
            android:name=".ui.Register"
            android:exported="false"
            android:label="Registro" />
        <activity
            android:name=".ui.FirstLogin"
            android:exported="false"
            android:label="¡Bienvenid@!" />
        <activity
            android:name=".ui.RecyclerViewActivity"
            android:exported="true"
            >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>


        <activity
            android:name=".ui.ViewCourse"
            android:exported="false"
            android:label="Curso" />

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".ui.ViewVideo"
            android:exported="false"
            android:label=""
            android:screenOrientation="landscape"/>

        <activity
            android:name=".ui.Login"
            android:exported="true"
            android:label="Unidemy" />

        <activity android:name=".ui.Searcher"
            android:label="Buscador"
            android:exported="false"/>
        <activity android:name=".ui.MyCourses"
            android:label="Mis Cursos"
            android:exported="false"/>
        <activity android:name=".ui.MainActivity"
            android:exported="false"/>
        <activity android:name=".ui.MenuLateral" />
        <activity android:name=".ui.UserInfoActivity" />
        <activity android:name=".ui.Privacity" />
        <activity android:name=".ui.RecyclerViewComents" />

        android:theme="@style/Theme.AppCompat.Light.NoActionBar"

    </application>


</manifest>