<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unidemy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/fc1363a1d3ef494a96cc920db03d2a38__1_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fc1363a1d3ef494a96cc920db03d2a38__1_"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unidemy" >
        <activity
            android:name=".ui.ForgotPassword"
            android:exported="false"
            android:label="@string/app_name" />/>
        <activity
            android:name=".ui.Register"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.FirstLogin"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.RecyclerViewActivity"
            android:exported="false"
            android:label="esto donde sale?" />
        <activity
            android:name=".ui.Login"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>